{% load static %}
{% load thumbnail %}
{% load humanize %}
{% load catalog_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Fissman</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="author" content="Frontend: Artem Lyapunov | WebElement.ru" />

		{% include 'css_files.html' %}

</head>
<body>
<div class="wrapper">



<section class="sec content_sec order_page">
	<div class="container">

		<h1 class="centered big">Оформление заказа</h1>

		<a href="{% url 'basket:index' %}" class="button gray medium back_to_cart"><i class="fa fa-long-arrow-left"></i> Вернуться в корзину</a>
		<br clear="all">

		<form action="" method="post">{% csrf_token %}
		<div class="order_column">
			<section class="form_section">
				<h2>Ваши данные</h2>
				<div class="form_fields">
					<div class="ip_cell">
						<input type="text" class="input_text" placeholder="Имя и фамилия" value="" />
					</div>
					<div class="ip_cell">
						<input type="tel" class="input_text" placeholder="Телефон" value="" />
					</div>
					<div class="ip_cell">
						<input type="email" class="input_text" placeholder="E-mail" value="" />
					</div>
				</div>
			</section>

			<hr class="minus_padding" />

			<section class="form_section">
				<h2>Способ получения</h2>
				<div class="form_fields">
					<div class="ip_cell">
						<input type="radio" class="rd" id="takeof" name="delivery" value="takeof" />
						<label>Самовывоз</label>

						<input type="radio" class="rd" id="delivery" name="delivery" value="delivery" checked />
						<label>Доставка по адресу</label>
					</div>
					<div class="delivery_fields pb0">
						<div class="ip_cell">
							<input type="text" class="input_text" placeholder="Регион" value="" />
						</div>
						<div class="ip_cell">
							<input type="text" class="input_text" placeholder="Город" value="" />
						</div>
						<div class="ip_cell">
							<input type="text" class="input_text" placeholder="Адрес доставки" value="" />
						</div>
						<div class="ip_cell">
							<div>
								<input type="radio" class="rd" name="delivery" />
								<label class="w100">СДЕК &mdash; 120 рублей <span class="fright">2-3 дня</span></label>

								<input type="radio" class="rd" name="delivery" />
								<label class="w100">Курьерская служба &mdash; 130 рублей <span class="fright">2-3 дня</span></label>
							</div>
						</div>
					</div>
				</div>
			</section>

			<hr class="minus_padding" />

			<section class="form_section">
				<h2>Тип оплаты</h2>
				<div class="ip_cell">
					<input type="radio" class="rd" name="payment" />
					<label class="w100">Наличными при получении</label>
				</div>
			</section>
		</div>


		<div class="order_column">
			<section class="form_section">
				<h2>Ваш заказ</h2>
				<table class="order_table">
					{% for line in request.basket.lines.all %}
					<tr>
						<td class="order_image">

							{% if line.product.img %}
								{% thumbnail line.product.img "100x72" crop="center" as im %}
								<a href="{{ line.product.img.url }}"><img src="{{ im.url }}" alt="" /></a></td>
								{% endthumbnail %}
							{% endif %}

						<td><a href="">{{ line.product}}</a></td>
						<td class="order_price">{{ line.price_excl_tax|floatformat:0|intcomma }} ₽</td>
					</tr>
					{% endfor %}

				</table>
			</section>
			<section class="form_section order_delivery">
				<div>Доставка:</div>
				<b>Бесплатно</b>
			</section>
			<section class="form_section order_itogo">
				<div><b>К оплате:</b> <small>по вашей спеццене</small></div>
				<strong>{{ request.basket.get_total_sum|floatformat:0|intcomma }} ₽</strong>
			</section>
			<section class="order_buttons">
				<button class="button cart_order" type="submit">Заказать</button>
			</section>
		</div>
		</form>

	</div>
</section>


<section class="sec backtop_sec">
	<a href="#" class="backtop">В начало страницы</a>
</section>

{% include 'footer.html' %}

</div>

{% include 'all_modals.html' %}

{% include 'js_files.html' %}

</body>
</html>