.errorlist {
    color: #FF0000;
}

.ip_cell {
    position: relative;
}

.ip_cell .help-block {
    position: absolute;
    z-index: 10;
    bottom: -6px;
    left: 0;
    margin-bottom: 5px;
    white-space: nowrap;
    background: #de007b;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    padding: 3px 7px;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 0.4s ease;
}

.ip_cell.has-error .help-block {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
}