{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load catalog_tags %}
{% load humanize %}
{% block content %}


<section class="sec content_sec">
	<div class="container">

		<ul class="bread">
			<li><a href="">Главная</a></li>
			<li>Ваш кабинет</li>
		</ul>

		<h1>Ваш кабинет</h1>

		<aside class="sidebar small">
			<!-- BLOCK -->
			<div class="sidebar_block">
				<ul class="sidebar_menu">
					<li><a href="{% url 'users:profile' %}">Ваши данные</a></li>
					<li class="current"><a href="{% url 'users:orders-history' %}">История заказов</a></li>
					<li><a href="{% url 'users:logout' %}">Выйти из кабинета</a></li>
				</ul>
			</div>
		</aside>

        <main class="maincol wide white_bg pad0">

			<!-- ORDER -->
			<div class="table_box">
			{% for order in orders %}
				<table class="history_table {% if forloop.first %}opened{% endif %}">
				<tbody><tr class="history_headings ">
					<td width="183"><span class="history_number">Заказ №{{ order.pk}}</span></td>
					<td width="300">{{ order.date_placed}}</td>
					<td width="149">{{ order.num_items }} товаров</td>
					<td width="320" colspan="2">{{ order.total_sum_lines|floatformat:0|intcomma }} ₽ <span class="status delivery"></span></td>
					<td><span class="history_arrow"></span></td>
				</tr>
				<tr class="history_details_th">
					<th>&nbsp;</th>
					<th>Название</th>
					<th>Количество</th>
					<th>Цена ед.</th>
					<th>Цена</th>
				</tr>
				{% for line in  order.lines.all %}
				<!-- PRODUCT -->
				<tr class="history_details_product_row">
					<td>
						<a href="" class="history_prod_image">
							{% thumbnail line.product.img "120x86" as im %}
							<img src="{{ im.url }}" alt="" />
							{% endthumbnail %}
						</a>
					</td>
					<td>
						<a href="" class="history_prod_title">{{ line.product }}</a>
					</td>
					<td>{{ line.quantity }}</td>
					<td>{{ line.line_price_excl_tax|floatformat:0|intcomma }}₽</td>
					<td>{{ line.total_line_price|floatformat:0|intcomma }}₽</td>
				</tr>
				{% endfor %}

				<tr class="history_details_itogo">
					<td colspan="3"></td>
					<td>Итого:</td>
					<td colspan="2"><b>{{ order.total_sum_lines|floatformat:0|intcomma }} ₽</b></td>
				</tr>
				<tr class="history_details_itogo">
					<td colspan="3"></td>
					<td>Доставка:</td>
					<td colspan="2"><b>Бесплатно</b></td>
				</tr>
				<tr class="history_details_itogo">
					<td colspan="3"></td>
					<td>К оплате:</td>
					<td colspan="2"><b>{{ order.total_sum_lines|floatformat:0|intcomma }} ₽</b></td>
				</tr>
			</tbody></table>

			{% endfor %}

			</div>


		</main>

	</div>
</section>


{% endblock %}
