{% load static %}
<div class="catalog_mobile_titles">
	<img src="{% static 'img/logo.png' %}" alt="">
	<a href="#" class="close_modal">x</a>
</div>
<ul class="catalog_menu">
	{% for category in categories %}
	<li><a href="{% url 'catalog:category-detail' category.slug %}">{{ category.name }}</a></li>
	{% endfor %}
	{% comment %}
	<li><a href="catalog.html">Аксессуары</a>
		<ul class="catalog_submenu">
			<li><a href="catalog.html">Кухонные принадлежности <span class="tgray">43</span></a></li>
		</ul>
	</li>
	{% endcomment %}
</ul>

<ul class="catalog_menu dop">
	<li><a href="all.html">О компании</a></li>
	<li><a href="all.html">Оплата и доставка</a></li>
	<li><a href="all.html">Оптовикам</a></li>
	<li><a href="all.html">Контакты</a></li>
</ul>

<div class="mobile_menu_buttons">
	<a class="mobile_menu_button" href=""><img src="{% static 'img/i_heart.png' %}" /> Избранное</a>
	<a class="mobile_menu_button arrow open_modal close_menu" href="#login_modal"><img src="{% static 'img/i_user.png' %}" /> Ваш кабинет</a>
	<a class="mobile_menu_button arrow open_modal close_menu" href="#cities_modal"><img src="{% static 'img/i_mini-cart.png' %}" /> Санкт-петербург</a>
	<a class="button" href="tel:+74950038995">+7 (495) 003-89-95</a>
</div>
