<div class="product_item incatalog">
					<div class="product_item-icons">
						<span class="beidge count">Осталось: 5</span>
					</div>
					<a href="" class="product_item-image">
						<img src="img/prod_1.jpg" alt="" />
					</a>
					<a href="" class="product_item-title">
						Сковорода для жарки ALLENDE 24х5,5см (алюминий)
						<span class="product_item-instock">В наличии</span>
					</a>
					<div class="product_item-artnum">Артикул: <span>9610</span></div>
					<div class="product_item-prices">
						<span class="product_item-price">990 ₽</span>
					</div>
					<div class="product_item-buttons">
						<span class="product_added visible">Добавлен в корзину</span>
						<a href="#" class="button-o gray product_item-buy">В корзину</a>
						<div class="product_item-counter_box">
							<div class="counter_box">
								<button type="button" class="counter_ctrl minus">-</button>
								<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
								<button type="button" class="counter_ctrl plus">+</button>
							</div>
							<button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
							<a href="#" class="close_add_to_cart">x</a>
						</div>
						<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
					</div>
				</div>

{% comment %}
<!-- ITEM -->
<div class="product_item incatalog">
    <div class="product_item-icons">
        <span class="beidge leader">Лидер продаж</span>
    </div>
    <a href="" class="product_item-image">
        <img src="img/prod_1.jpg" alt="" />
    </a>
    <a href="" class="product_item-title">
        Сковорода для жарки ALLENDE 24х5,5см (алюминий)
        <span class="product_item-instock">В наличии</span>
    </a>
    <div class="product_item-artnum">Артикул: <span>9610</span></div>
    <div class="product_item-prices">
        <u class="product_item-price_old">41390 ₽</u>
        <span class="product_item-price">40990 ₽</span>
    </div>
    <div class="product_item-buttons">
        <span class="product_added visible">Добавлен в корзину</span>
        <a href="#" class="button-o gray product_item-buy">В корзину</a>
        <div class="product_item-counter_box">
            <div class="counter_box">
                <button type="button" class="counter_ctrl minus">-</button>
                <input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
                <button type="button" class="counter_ctrl plus">+</button>
            </div>
            <button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
            <a href="#" class="close_add_to_cart">x</a>
        </div>
        <a href="" class="product_item-like liked"><i class="fa fa-heart"></i></a>
    </div>
</div>

<!-- ITEM -->
<div class="product_item incatalog">
    <div class="product_item-icons">
        <span class="beidge free_delivery">Доставка бесплатно!</span>
    </div>
    <a href="" class="product_item-image">
        <img src="img/prod_1.jpg" alt="" />
    </a>
    <a href="" class="product_item-title">
        Сковорода для жарки ALLENDE 24х5,5см (алюминий)
        <span class="product_item-instock">В наличии</span>
    </a>
    <div class="product_item-artnum">Артикул: <span>9610</span></div>
    <div class="product_item-prices">
        <span class="product_item-price">53990 ₽</span>
    </div>
    <div class="product_item-buttons">
        <span class="product_added visible">Добавлен в корзину</span>
        <a href="#" class="button-o gray product_item-buy">В корзину</a>
        <div class="product_item-counter_box">
            <div class="counter_box">
                <button type="button" class="counter_ctrl minus">-</button>
                <input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
                <button type="button" class="counter_ctrl plus">+</button>
            </div>
            <button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
            <a href="#" class="close_add_to_cart">x</a>
        </div>
        <a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
    </div>
</div>
{% endcomment %}