{% load static %}
{% load catalog_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Fissman</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="author" content="Frontend: Artem Lyapunov | WebElement.ru" />

	{% include 'css_files.html' %}

</head>
<body>
<div class="wrapper">




{% include 'header.html' %}


<section class="sec topnav_sec_skelet">
<nav class="sec topnav_sec">
	<div class="container">

		<div class="topnav_buttons">
			<a href="#" class="button blue catalog_open"><span class="icon_menu"></span> Каталог</a>
			<a href="catalog.html" class="button"><span class="icon_shock"></span> Шок-цена!</a>

			<nav class="catalog_menu_box">
				<div class="catalog_mobile_titles">
					<img src="img/logo.png" alt="">
					<a href="#" class="close_modal">x</a>
				</div>

				{% catalog_menu %}
				<ul class="catalog_menu dop">
					<li><a href="all.html">О компании</a></li>
					<li><a href="all.html">Оплата и доставка</a></li>
					<li><a href="all.html">Оптовикам</a></li>
					<li><a href="all.html">Контакты</a></li>
				</ul>

				<div class="mobile_menu_buttons">
					<a class="mobile_menu_button" href=""><img src="img/i_heart.png" /> Избранное</a>
					<a class="mobile_menu_button arrow open_modal close_menu" href="#login_modal"><img src="img/i_user.png" /> Ваш кабинет</a>
					<a class="mobile_menu_button arrow open_modal close_menu" href="#cities_modal"><img src="img/i_mini-cart.png" /> Санкт-петербург</a>
					<a class="button" href="tel:+74950038995">+7 (495) 003-89-95</a>
				</div>
			</nav>
		</div>

		<img class="mobile_logo" src="img/logo.png" alt="" />

		<form action="" method="post" class="topnav_search_form">
			<input type="text" placeholder="Например, сковорода вок" class="topnav_search_input" />
			<button type="submit" class="topnav_search_button">Поиск</button>
			<button class="close_search_mobile" type="button">Отменить</button>

			<div class="search_dropdown mCustomScrollbar" data-mcs-theme="minimal-dark">				
				<!-- ITEM -->
				<div class="search_dropdown_product">
					<a href="" class="sdp_image"><img src="img/prod_1.jpg" alt=""></a>
					<div class="sdp_info_box">
						<a href="">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="sdp_artnum">Артикул: 9610</div>
						<div class="sdp_prices">
							<span class="sdp_price">1390 ₽</span>
							<span class="instock">В наличии</span>
						</div>
					</div>
				</div>

				<!-- ITEM -->
				<div class="search_dropdown_product">
					<a href="" class="sdp_image"><img src="img/prod_1.jpg" alt=""></a>
					<div class="sdp_info_box">
						<a href="">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="sdp_artnum">Артикул: 9610</div>
						<div class="sdp_prices">
							<span class="sdp_price">1390 ₽</span>
							<span class="instock not">Нет в наличии</span>
						</div>
					</div>
				</div>
				
				<!-- ITEM -->
				<div class="search_dropdown_product">
					<a href="" class="sdp_image"><img src="img/prod_1.jpg" alt=""></a>
					<div class="sdp_info_box">
						<a href="">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="sdp_artnum">Артикул: 9610</div>
						<div class="sdp_prices">
							<span class="sdp_price">1390 ₽</span>
							<span class="instock">В наличии</span>
						</div>
					</div>
				</div>

				<!-- ITEM -->
				<div class="search_dropdown_product">
					<a href="" class="sdp_image"><img src="img/prod_1.jpg" alt=""></a>
					<div class="sdp_info_box">
						<a href="">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="sdp_artnum">Артикул: 9610</div>
						<div class="sdp_prices">
							<span class="sdp_price">1390 ₽</span>
							<span class="instock not">Нет в наличии</span>
						</div>
					</div>
				</div>
				
				<!-- ITEM -->
				<div class="search_dropdown_product">
					<a href="" class="sdp_image"><img src="img/prod_1.jpg" alt=""></a>
					<div class="sdp_info_box">
						<a href="">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="sdp_artnum">Артикул: 9610</div>
						<div class="sdp_prices">
							<span class="sdp_price">1390 ₽</span>
							<span class="instock">В наличии</span>
						</div>
					</div>
				</div>

				<!-- ITEM -->
				<div class="search_dropdown_product">
					<a href="" class="sdp_image"><img src="img/prod_1.jpg" alt=""></a>
					<div class="sdp_info_box">
						<a href="">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="sdp_artnum">Артикул: 9610</div>
						<div class="sdp_prices">
							<span class="sdp_price">1390 ₽</span>
							<span class="instock not">Нет в наличии</span>
						</div>
					</div>
				</div>

				<a href="" class="button search_see_all">Показать все</a>
				
			</div>
		</form>

		<ul class="topnav_shortmenu">
			<li><a href="">О компании</a></li>
			<li><a href="">Оплата и доставка</a></li>
			<li><a href="">Контакты</a></li>
		</ul>

		<div class="top_mobile_buttons">
			<a class="open_mobile_search" href=""><img src="img/i_search.png" /></a>
			<a class="open_mobile_cart" href=""><img src="img/i_mini-cart.png" /></a>
		</div>

	</div>
</nav>
</section>


<section class="sec content_sec">
	<div class="container">
		
		<ul class="bread">
			<li><a href="">Главная</a></li>
			<li>Корзина</li>
		</ul>

		<h1>Корзина</h1>

		<main class="maincol wide w100 white_bg">
			<h3>Ваши дополнительные комбо-бонусы за покупку!</h3>
			<div class="bonus_box">
				<div class="bonus_track">
					<span class="bonus_past"></span>
				</div>
				<div class="bonus_items">
					<div class="bonus_item active">
						<span class="bonus_item-price">0 ₽+</span>
						<span class="bonus_item_circle"><i class="fa fa-check"></i></span>
						<span class="bonus_item-podpis">Бонусов нет</span>
					</div>
					<div class="bonus_item active">
						<span class="bonus_item-price">2500 ₽+</span>
						<span class="bonus_item_circle"><i class="fa fa-check"></i></span>
						<span class="bonus_item-podpis">Бесплатная доставка</span>
					</div>
					<div class="bonus_item active">
						<span class="bonus_item-price">5000 ₽+</span>
						<span class="bonus_item_circle"><i class="fa fa-check"></i></span>
						<span class="bonus_item-podpis">Спеццена ОПТ-2</span>
					</div>
					<div class="bonus_item active">
						<span class="bonus_item-price">10000 ₽+</span>
						<span class="bonus_item_circle"><i class="fa fa-check"></i></span>
						<span class="bonus_item-podpis">Спеццена ОПТ-3</span>
					</div>
					<div class="bonus_item">
						<span class="bonus_item-price">15000 ₽+</span>
						<span class="bonus_item_circle">12455 ₽</span>
						<span class="bonus_item-podpis">Спеццена ОПТ-4</span>
					</div>
					<div class="bonus_item">
						<span class="bonus_item-price">25000 ₽+</span>
						<span class="bonus_item_circle">20455 ₽</span>
						<span class="bonus_item-podpis">Спеццена ОПТ-5</span>
					</div>
				</div>
			</div>
		</main>

		<main class="maincol wide w100 pad0">
			<div class="bonus_statistic_box">
				<div class="w49 white_bg">
					Вы добавили товар на сумму <b>2656 ₽</b>. При сумме <b>от 5000 ₽</b> — для вас доступна спеццена ОПТ 1! <b>Добавьте товары еще на 2 455 ₽</b>
					<b><a href="">Перейти в каталог</a></b>
				</div>

				<div class="w49 white_bg">
					<form action="" method="post" class="cupon_form">
						<div class="ip_cell">
							<input type="text" class="input_text" placeholder="Укажите промокод" />
							<!-- <div class="promo_applied">
								<i class="fa fa-check"></i>
								Промокод применён!
							</div> -->
						</div>
						<button class="button medium" type="submit">Применить</button>
					</form>
				</div>
			</div>
		</main>

		<main class="maincol wide w100 white_bg pad0">
			<form action="" method="post">
			<!-- если надо пересчитать корзину - вызывай функцию calculateFinalPrice() -->
			<table class="cart_table" data-currency=" ₽">
				<tr>
					<th width="180">&nbsp;</th>
					<th>&nbsp;</th>
					<th>Цена за шт.</th>
					<th class="cart_specprice_th">Ваша спеццена <br>ОПТ 1</th>
					<th>Количество</th>
					<th>К оплате</th>
					<th>&nbsp;</th>
				</tr>
				<tr>
					<td><a href="img/prod_1.jpg" data-fancybox class="cart_image"><img src="img/prod_1.jpg" alt="" /></a></td>
					<td class="cart_prod_title"><a href="">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a></td>
					<td><span class="cart_mobile_label">Цена за шт.</span><s class="cart_price_old">1100 ₽</s></td>
					<td class="cart_specprice_th">
						<span class="cart_specprice_box">
							<span class="cart_mobile_label">Ваша спеццена: <span class="border">ОПТ-1</span></span>
							<span class="cart_specprice">1000 ₽</span>
							<small>Скидка <br>по промокоду <b>946 ₽</b></small>
						</span>
					</td>
					<td>
						<div class="counter_big_box">
							<button type="button" class="counter_big_ctrl minus">-</button>
							<input type="text" class="counter_big_input" value="1" data-min="1" data-max="99" />
							<button type="button" class="counter_big_ctrl plus">+</button>
						</div>
					</td>
					<td class="cart_prod_final_price"><span class="cart_mobile_label">К оплате:</span> <b>1000 ₽</b></td>
					<td><a href="" class="cart_remove">x</a></td>
				</tr>
				<tr>
					<td><a href="img/prod_1.jpg" data-fancybox class="cart_image"><img src="img/prod_1.jpg" alt="" /></a></td>
					<td class="cart_prod_title"><a href="">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a></td>
					<td><span class="cart_mobile_label">Цена за шт.</span><s class="cart_price_old">1100 ₽</s></td>
					<td class="cart_specprice_th">
						<span class="cart_specprice_box">
							<span class="cart_mobile_label">Ваша спеццена: <span class="border">ОПТ-1</span></span>
							<span class="cart_specprice">1000 ₽</span>
							<small>Скидка <br>по промокоду <b>946 ₽</b></small>
						</span>
					</td>
					<td>
						<div class="counter_big_box">
							<button type="button" class="counter_big_ctrl minus">-</button>
							<input type="text" class="counter_big_input" value="1" data-min="1" data-max="99" />
							<button type="button" class="counter_big_ctrl plus">+</button>
						</div>
					</td>
					<td class="cart_prod_final_price"><span class="cart_mobile_label">К оплате:</span> <b>1000 ₽</b></td>
					<td><a href="" class="cart_remove">x</a></td>
				</tr>
				<tr>
					<td><a href="img/prod_1.jpg" data-fancybox class="cart_image"><img src="img/prod_1.jpg" alt="" /></a></td>
					<td class="cart_prod_title"><a href="">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a></td>
					<td><span class="cart_mobile_label">Цена за шт.</span><s class="cart_price_old">1100 ₽</s></td>
					<td class="cart_specprice_th">
						<span class="cart_specprice_box">
							<span class="cart_mobile_label">Ваша спеццена: <span class="border">ОПТ-1</span></span>
							<span class="cart_specprice">1000 ₽</span>
							<small>Скидка <br>по промокоду <b>946 ₽</b></small>
						</span>
					</td>
					<td>
						<div class="counter_big_box">
							<button type="button" class="counter_big_ctrl minus">-</button>
							<input type="text" class="counter_big_input" value="1" data-min="1" data-max="99" />
							<button type="button" class="counter_big_ctrl plus">+</button>
						</div>
					</td>
					<td class="cart_prod_final_price"><span class="cart_mobile_label">К оплате:</span> <b>1000 ₽</b></td>
					<td><a href="" class="cart_remove">x</a></td>
				</tr>
				<tr class="cart_totals_row">
					<td colspan="3">
						<div class="cart_itogo_ib">Итого: <b id="total_no_spec">3495 ₽</b></div>
						<div class="cart_itogo_ib">Доставка: <b id="delivery_val">120 ₽</b></div> <!-- "Бесплатно"" / текст = 0. main.js -->
					</td>
					<td colspan="4" class="pl0">
						<div class="cart_itogo_final">
							<span class="ib">
								<strong>К оплате: </strong>
								<small>по вашей спеццене</small>
							</span>
							<span class="ib cart_final_price" id="total_price">3195 ₽</span>
							<button type="submit" class="button cart_order">Оформить заказ</button>
						</div>
					</td>
				</tr>
			</table>
			</form>
		</main>
		

	</div>
</section>


<section class="sec content_sec white_bg">
	<div class="container">
		
		<h2 class="sec_title">Успей купить по ШОК-цене</h2>

		<div class="catalog_box items-5">

			<!-- ITEM -->
			<div class="product_item incatalog">
				<div class="product_item-icons">
					<span class="beidge count">Осталось: 5</span>
				</div>
				<a href="" class="product_item-image">
					<img src="img/prod_1.jpg" alt="" />
					<span class="product_item-instock">В наличии</span>
				</a>
				<a href="" class="product_item-title">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
				<div class="product_item-artnum">Артикул: 9610</div>
				<div class="product_item-prices">
					<span class="product_item-price">990 ₽</span>
				</div>
				<div class="product_item-buttons">
					<a href="#" class="button-o gray product_item-buy">В корзину</a>
					<div class="product_item-counter_box">
						<div class="counter_box">
							<button type="button" class="counter_ctrl minus">-</button>
							<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
							<button type="button" class="counter_ctrl plus">+</button>
						</div>
						<button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
						<a href="#" class="close_add_to_cart">x</a>
					</div>
					<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
				</div>
			</div>

			<!-- ITEM -->
			<div class="product_item incatalog">
				<div class="product_item-icons">
					<span class="beidge leader">Лидер продаж</span>
				</div>
				<a href="" class="product_item-image">
					<img src="img/prod_1.jpg" alt="" />
					<span class="product_item-instock">В наличии</span>
				</a>
				<a href="" class="product_item-title">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
				<div class="product_item-artnum">Артикул: 9610</div>
				<div class="product_item-prices">
					<u class="product_item-price_old">41000 ₽</u>
					<span class="product_item-price">40990 ₽</span>
				</div>
				<div class="product_item-buttons">
					<a href="#" class="button-o gray product_item-buy">В корзину</a>
					<div class="product_item-counter_box">
						<div class="counter_box">
							<button type="button" class="counter_ctrl minus">-</button>
							<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
							<button type="button" class="counter_ctrl plus">+</button>
						</div>
						<button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
						<a href="#" class="close_add_to_cart">x</a>
					</div>
					<a href="" class="product_item-like liked"><i class="fa fa-heart"></i></a>
				</div>
			</div>
			

			
		</div>

	</div>
</section>


<section class="sec content_sec">
	<div class="container">

		<h2 class="sec_title have_arrows">Недавно вы смотрели</h2>
		
		<div class="products_carousel_box">
			<ul class="products_carousel arrowsNav owl-carousel">
				<li class="item">
					<!-- ITEM -->
					<div class="product_item incatalog">
						<div class="product_item-icons">
							<span class="beidge count">Осталось: 5</span>
						</div>
						<a href="" class="product_item-image">
							<img src="img/prod_1.jpg" alt="" />
							<span class="product_item-instock">В наличии</span>
						</a>
						<a href="" class="product_item-title">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="product_item-artnum">Артикул: 9610</div>
						<div class="product_item-prices">
							<span class="product_item-price">990 ₽</span>
						</div>
						<div class="product_item-buttons">
							<a href="#" class="button-o gray product_item-buy">В корзину</a>
							<div class="product_item-counter_box">
								<div class="counter_box">
									<button type="button" class="counter_ctrl minus">-</button>
									<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
									<button type="button" class="counter_ctrl plus">+</button>
								</div>
								<button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
								<a href="#" class="close_add_to_cart">x</a>
							</div>
							<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
						</div>
					</div>
				</li>
				<li class="item">
					<!-- ITEM -->
					<div class="product_item incatalog">
						<div class="product_item-icons">
							<span class="beidge count">Осталось: 5</span>
						</div>
						<a href="" class="product_item-image">
							<img src="img/prod_1.jpg" alt="" />
							<span class="product_item-instock">В наличии</span>
						</a>
						<a href="" class="product_item-title">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="product_item-artnum">Артикул: 9610</div>
						<div class="product_item-prices">
							<span class="product_item-price">990 ₽</span>
						</div>
						<div class="product_item-buttons">
							<a href="#" class="button-o gray product_item-buy">В корзину</a>
							<div class="product_item-counter_box">
								<div class="counter_box">
									<button type="button" class="counter_ctrl minus">-</button>
									<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
									<button type="button" class="counter_ctrl plus">+</button>
								</div>
								<button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
								<a href="#" class="close_add_to_cart">x</a>
							</div>
							<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
						</div>
					</div>
				</li>
				<li class="item">
					<!-- ITEM -->
					<div class="product_item incatalog">
						<div class="product_item-icons">
							<span class="beidge count">Осталось: 5</span>
						</div>
						<a href="" class="product_item-image">
							<img src="img/prod_1.jpg" alt="" />
							<span class="product_item-instock">В наличии</span>
						</a>
						<a href="" class="product_item-title">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="product_item-artnum">Артикул: 9610</div>
						<div class="product_item-prices">
							<span class="product_item-price">990 ₽</span>
						</div>
						<div class="product_item-buttons">
							<a href="#" class="button-o gray product_item-buy">В корзину</a>
							<div class="product_item-counter_box">
								<div class="counter_box">
									<button type="button" class="counter_ctrl minus">-</button>
									<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
									<button type="button" class="counter_ctrl plus">+</button>
								</div>
								<button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
								<a href="#" class="close_add_to_cart">x</a>
							</div>
							<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
						</div>
					</div>
				</li>
				<li class="item">
					<!-- ITEM -->
					<div class="product_item incatalog">
						<div class="product_item-icons">
							<span class="beidge count">Осталось: 5</span>
						</div>
						<a href="" class="product_item-image">
							<img src="img/prod_1.jpg" alt="" />
							<span class="product_item-instock">В наличии</span>
						</a>
						<a href="" class="product_item-title">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="product_item-artnum">Артикул: 9610</div>
						<div class="product_item-prices">
							<span class="product_item-price">990 ₽</span>
						</div>
						<div class="product_item-buttons">
							<a href="#" class="button-o gray product_item-buy">В корзину</a>
							<div class="product_item-counter_box">
								<div class="counter_box">
									<button type="button" class="counter_ctrl minus">-</button>
									<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
									<button type="button" class="counter_ctrl plus">+</button>
								</div>
								<button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
								<a href="#" class="close_add_to_cart">x</a>
							</div>
							<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
						</div>
					</div>
				</li>
				<li class="item">
					<!-- ITEM -->
					<div class="product_item incatalog">
						<div class="product_item-icons">
							<span class="beidge count">Осталось: 5</span>
						</div>
						<a href="" class="product_item-image">
							<img src="img/prod_1.jpg" alt="" />
							<span class="product_item-instock">В наличии</span>
						</a>
						<a href="" class="product_item-title">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="product_item-artnum">Артикул: 9610</div>
						<div class="product_item-prices">
							<span class="product_item-price">990 ₽</span>
						</div>
						<div class="product_item-buttons">
							<a href="#" class="button-o gray product_item-buy">В корзину</a>
							<div class="product_item-counter_box">
								<div class="counter_box">
									<button type="button" class="counter_ctrl minus">-</button>
									<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
									<button type="button" class="counter_ctrl plus">+</button>
								</div>
								<button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
								<a href="#" class="close_add_to_cart">x</a>
							</div>
							<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
						</div>
					</div>
				</li>
				<li class="item">
					<!-- ITEM -->
					<div class="product_item incatalog">
						<div class="product_item-icons">
							<span class="beidge count">Осталось: 5</span>
						</div>
						<a href="" class="product_item-image">
							<img src="img/prod_1.jpg" alt="" />
							<span class="product_item-instock">В наличии</span>
						</a>
						<a href="" class="product_item-title">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="product_item-artnum">Артикул: 9610</div>
						<div class="product_item-prices">
							<span class="product_item-price">990 ₽</span>
						</div>
						<div class="product_item-buttons">
							<a href="#" class="button-o gray product_item-buy">В корзину</a>
							<div class="product_item-counter_box">
								<div class="counter_box">
									<button type="button" class="counter_ctrl minus">-</button>
									<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
									<button type="button" class="counter_ctrl plus">+</button>
								</div>
								<button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
								<a href="#" class="close_add_to_cart">x</a>
							</div>
							<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
						</div>
					</div>
				</li>
				<li class="item">
					<!-- ITEM -->
					<div class="product_item incatalog">
						<div class="product_item-icons">
							<span class="beidge count">Осталось: 5</span>
						</div>
						<a href="" class="product_item-image">
							<img src="img/prod_1.jpg" alt="" />
							<span class="product_item-instock">В наличии</span>
						</a>
						<a href="" class="product_item-title">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="product_item-artnum">Артикул: 9610</div>
						<div class="product_item-prices">
							<span class="product_item-price">990 ₽</span>
						</div>
						<div class="product_item-buttons">
							<a href="#" class="button-o gray product_item-buy">В корзину</a>
							<div class="product_item-counter_box">
								<div class="counter_box">
									<button type="button" class="counter_ctrl minus">-</button>
									<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
									<button type="button" class="counter_ctrl plus">+</button>
								</div>
								<button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
								<a href="#" class="close_add_to_cart">x</a>
							</div>
							<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>
</section>


<section class="sec backtop_sec">
	<a href="#" class="backtop">В начало страницы</a>
</section>



<footer class="sec footer_sec">
	<div class="container">

		<div class="fcol footer_logo_box">
			<div class="flogo_col">
				<a href="" class="flogo"><img src="img/flogo.png" alt="" /></a>
				<span class="fslogan">
					<strong>Интернет-магазин</strong>
					Официальный сайт продукции Fissman в России
				</span>
			</div>
			<div class="fdesc">
				Наша компания занимается розничной и оптовой продажей посуды бренда Fissman. У нас вы можете приобрести посуду по привлекательной цене.
			</div>
			<div class="cards_box">
				<p><strong>Мы принимаем к оплате:</strong></p>
				<p><img src="img/cards.png" alt=""></p>
			</div>
		</div>

		<div class="fcol">
			<ul class="fmenu">
				<li class="fmenu_first"><a href="">Каталог</a></li>
				<li><a href="">Сковороды</a></li>
				<li><a href="">Кастрюли</a></li>
				<li><a href="">Ножи</a></li>
				<li><a href="">Для чая и кофе</a></li>
				<li><a href="">Для выпечки</a></li>
				<li><a href="">Аксессуары</a></li>
				<li><a href="">Сервировка стола</a></li>
				<li><a href="">Детям</a></li>
				<li><a href="">Активный отдых</a></li>
			</ul>
		</div>

		<div class="fcol">
			<ul class="fmenu">
				<li class="fmenu_first"><a class="button" href="">Личный кабинет</a></li>
				<li><a href="">О нас</a></li>
				<li><a href="">Доставка и оплата</a></li>
				<li><a href="">Вопрос-ответ</a></li>
				<li><a href="">Оптовикам</a></li>
				<li><a href="">Договор оферты</a></li>
				<li><a href="">Сотрудничество</a></li>
			</ul>
		</div>

		<div class="fcol footer_contacts">
			<a href="tel:+74950038995" class="fphone">+7 (495) 003-89-95</a>

			<div class="worktime">
				<strong>Режим работы:</strong>
				С 9:00 до 20:00 ежедневно
			</div>

			<ul class="fmenu">
				<li><a href="">Контакты</a></li>
			</ul>
		</div>

	</div>
</footer>

<footer class="sec copyright_sec">
	<div class="container">
		
		<div>
			© Интернет-магазин посуды Fissman, 2018
		</div>

		<div class="copyright_links">
			<a href="">Пользовательское соглашение</a>
			<a href="">Политика конфиденциальности</a>
		</div>

		<div>
			Разработка сайта — <a href="https://webelement.ru" target="_blank" class="madein">WEBELEMENT</a>
		</div>

	</div>
</footer>

</div>


<!-- MODAL -->

<div class="modal" id="add_address_modal">
	<div class="modal_content">
		<h2 class="modal_title">Добавить новый адрес</h2>
		<a href="#" class="modal_close">x</a>
		<form action="" method="post">
			<div class="ip_cell">
				<div>
					<input type="radio" class="rd" name="delivery-modal" />
					<label>Самовывоз</label>
					<input type="radio" class="rd" name="delivery-modal" />
					<label>Доставка по адресу</label>
				</div>
			</div>
			<div class="ip_cell">
				<input type="text" class="input_text" placeholder="Укажите город доставки" />
			</div>
			<div class="ip_cell">
				<input type="text" class="input_text" placeholder="Укажите адрес доставки" />
			</div>
			<div class="modal_buttons">
				<button class="button medium" type="submit">+ Добавить адрес</button>
			</div>
		</form>
	</div>
	<div class="modal_overlay"></div>
</div>




<div class="modal" id="cities_modal">
	<div class="modal_content">
		<h2 class="modal_title">Выберите город</h2>
		<a href="#" class="modal_close">x</a>
		<form action="" method="post">
			<div class="cities_list">
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Москва</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Волгоград</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Воронеж</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Екатеринбург</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Казань</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Краснодар</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Красноярск</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Нижний Новгород</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Новосибирск</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Пермь</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Ростов-на-Дону</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Самара</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" checked />
					<label>Санкт-Петербург</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Уфа</label>
				</div>
				<div class="ip_city">
					<input type="radio" class="rd" name="city" />
					<label>Челябинск</label>
				</div>
			</div>

			<div class="another_city_box">
				<label>Или укажите в поле:</label>
				<div class="flex">
					<div class="ip_cell relative">
						<input type="text" class="input_text another_city" placeholder="Введите название города" />
						<div class="cities_dropdown">
							<a class="city_dropdown" href=""><b>Иван</b>теевка, Московская обл.</a>
							<a class="city_dropdown" href=""><b>Иван</b>ово, Московская обл.</a>
						</div>
					</div>
					<button class="button medium choice_city"  type="submit" disabled>Выбрать</button>
				</div>
			</div>
			<script>
				$(document).ready(function(){
					$('.another_city').on('change keyup', function(){
						if ( $(this).val() != '' ) {
							$('.cities_dropdown').show();
							$('.choice_city').removeAttr('disabled');
						} else {
							$('.cities_dropdown').hide();
							$('.choice_city').attr('disabled', true);
						}
					});

					$('.city_dropdown').click(function(){
						let cityName = $(this).text();
						$('.another_city').val(cityName);
						$('.cities_dropdown').hide();
						return false;
					});
				});
			</script>
		</form>
	</div>
	<div class="modal_overlay"></div>
</div>



<div class="modal" id="login_modal">
	<div class="modal_content">
		<a href="#" class="modal_close">x</a>
		<h2 class="modal_title">Вход</h2>
		<form action="cabinet.html" method="post" class="auth_form">
			<div class="ip_cell">
				<input type="text" class="input_text" placeholder="Логин" />
			</div>
			<div class="ip_cell">
				<input type="password" class="input_text" placeholder="Пароль" />
			</div>
			<div class="login_links">
				<div>
					<input type="checkbox" class="ch" />
					<label>Сохранить пароль</label>
				</div>
				<a href="">Восстановить пароль</a>
			</div>
			<div class="auth_buttons">
				<button class="button medium" type="submit">Войти</button>
				<a href="" class="button-o medium gray">Зарегистрироваться</a>
			</div>
		</form>
	</div>
	<div class="modal_overlay"></div>
</div>


{% include 'js_files.html' %}

</body>
</html>