{% load static %}
<footer class="sec footer_sec">
	<div class="container">

		<div class="fcol footer_logo_box">
			<div class="flogo_col">
				<a href="/" class="flogo"><img src="{% static 'img/flogo.png' %}" alt="" /></a>
				<span class="fslogan">
					<strong>Интернет-магазин</strong> {{ settings.slogan }}
				</span>
			</div>
			<div class="fdesc">{{ settings.description}}</div>

		</div>

		<div class="fcol">
			<ul class="fmenu">
				<li class="fmenu_first">
					<a href="">Каталог</a>
				</li>
				{% for cat in categories %}
				<li><a href="{% url 'catalog:category-detail' cat.slug %}">{{ cat.name }}</a></li>
				{% endfor %}

			</ul>
		</div>

		<div class="fcol">
			<ul class="fmenu">
				<li class="fmenu_first"><a class="button" href="{% url 'users:profile' %}">Личный кабинет</a></li>
				{% for m_item in menu_footer_items %}
				<li><a href="/{{ m_item.url }}">{{ m_item.title }}</a></li>
				{% endfor %}
			</ul>
		</div>

		<div class="fcol footer_contacts">
			<a href="tel:+74950038995" class="fphone">{{ settings.phone }}</a>

			<div class="worktime">
				<strong>Режим работы:</strong>
				{{ settings.mode_of_operation }}
			</div>

			<ul class="fmenu">
				<li><a href="">Контакты</a></li>
			</ul>
		</div>

	</div>
</footer>

<footer class="sec copyright_sec">
	<div class="container">

		<div>
			© Интернет-магазин посуды Fissman, 2018
		</div>

		<div class="copyright_links">
			<a href="">Пользовательское соглашение</a>
			<a href="">Политика конфиденциальности</a>
		</div>

		<div>
			Разработка сайта
		</div>

	</div>
</footer>