{% load static %}
<footer class="sec footer_sec">
	<div class="container">

		<div class="fcol footer_logo_box">
			<div class="flogo_col">
				<a href="" class="flogo"><img src="{% static 'img/flogo.png' %}" alt="" /></a>
				<span class="fslogan">
					<strong>Интернет-магазин</strong>
					Официальный сайт продукции Fissman в России
				</span>
			</div>
			<div class="fdesc">
				Наша компания занимается розничной и оптовой продажей посуды бренда Fissman. У нас вы можете приобрести посуду по привлекательной цене.
			</div>
			<div class="cards_box">
				<p><strong>Мы принимаем к оплате:</strong></p>
				<p><img src="{% static 'img/cards.png' %}" alt=""></p>
			</div>
		</div>

		<div class="fcol">
			<ul class="fmenu">
				<li class="fmenu_first"><a href="">Каталог</a></li>
				<li><a href="">Сковороды</a></li>
				<li><a href="">Кастрюли</a></li>
				<li><a href="">Ножи</a></li>
				<li><a href="">Для чая и кофе</a></li>
				<li><a href="">Для выпечки</a></li>
				<li><a href="">Аксессуары</a></li>
				<li><a href="">Сервировка стола</a></li>
				<li><a href="">Детям</a></li>
				<li><a href="">Активный отдых</a></li>
			</ul>
		</div>

		<div class="fcol">
			<ul class="fmenu">
				<li class="fmenu_first"><a class="button" href="">Личный кабинет</a></li>
				<li><a href="">О нас</a></li>
				<li><a href="">Доставка и оплата</a></li>
				<li><a href="">Вопрос-ответ</a></li>
				<li><a href="">Оптовикам</a></li>
				<li><a href="">Договор оферты</a></li>
				<li><a href="">Сотрудничество</a></li>
			</ul>
		</div>

		<div class="fcol footer_contacts">
			<a href="tel:+74950038995" class="fphone">+7 (495) 003-89-95</a>

			<div class="worktime">
				<strong>Режим работы:</strong>
				С 9:00 до 20:00 ежедневно
			</div>

			<ul class="fmenu">
				<li><a href="">Контакты</a></li>
			</ul>
		</div>

	</div>
</footer>

<footer class="sec copyright_sec">
	<div class="container">

		<div>
			© Интернет-магазин посуды Fissman, 2018
		</div>

		<div class="copyright_links">
			<a href="">Пользовательское соглашение</a>
			<a href="">Политика конфиденциальности</a>
		</div>

		<div>
			Разработка сайта — <a href="https://webelement.ru" target="_blank" class="madein">WEBELEMENT</a>
		</div>

	</div>
</footer>