{% load static %}
<header class="sec header_sec">
	<div class="container">

		<a href="/" class="header_logo">
			<img src="{% static 'img/logo.png' %}" alt="" />
			<span class="slogan">{{ settings.slogan|safe }}</span>
		</a>

		<div class="header_ib header_city">
			<span>Ваш город:</span>
			<a href="#cities_modal" class="header_choose_city open_modal">Москва<span class="arrow-down"></span></a>

<!--			<div class="popup correct_city">-->
<!--				<label>Всё верно?</label>-->
<!--				<a href="#" class="button-o small pink popup_close">Да</a>-->
<!--				<a href="#cities_modal" class="button-o small gray open_modal popup_close">Нет</a>-->
<!--				<a href="#" class="close_popup">x</a>-->
<!--			</div>-->
		</div>

		<div class="header_ib header_phone_box">
			<a href="tel:{{ settings_phone_digits }}" class="header_phone">{{ settings.phone }}</a>
		</div>

		<div class="header_ib header_wishlist_ib">
			<a href="{% url 'wishlists:index' %}" class="header_link header_wishlist">Избранное <span class="header_count">{{ wish_list_items }}</span></a>
		</div>

		<div class="header_ib header_cart_ib">
			<a href="{% url 'basket:index' %}" class="header_link header_cart">Корзина <span class="header_count">{{ request.basket.num_items }}</span></a>
		</div>

		<div class="header_ib header_profile_ib">
			{% if request.user.is_authenticated %}
			<a href="{% url 'users:profile' %}" class="header_link header_profile">Ваш кабинет</a>
			{% else %}
			 <a href="#login_modal" class="header_link header_profile open_modal">Вход</a>
			{% endif %}
		</div>

	</div>
</header>