{% load static %}
{% load thumbnail %}
{% load catalog_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Fissman</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="author" content="Frontend: Artem Lyapunov | WebElement.ru" />

	{% include 'css_files.html' %}

</head>
<body>
<div class="wrapper">

{% include 'header.html' %}


<section class="sec topnav_sec_skelet">
<nav class="sec topnav_sec">
	<div class="container">

		<div class="topnav_buttons">
			<a href="#" class="button blue catalog_open"><span class="icon_menu"></span> Каталог</a>
			<a href="catalog.html" class="button"><span class="icon_shock"></span> Шок-цена!</a>

			<nav class="catalog_menu_box">
				{% catalog_menu %}
			</nav>
		</div>

		<img class="mobile_logo" src="{% static 'img/logo.png' %}" alt="" />

		<form action="" method="post" class="topnav_search_form">
			<input type="text" placeholder="Например, сковорода вок" class="topnav_search_input" />
			<button type="submit" class="topnav_search_button">Поиск</button>
			<button class="close_search_mobile" type="button">Отменить</button>

			<div class="search_dropdown mCustomScrollbar" data-mcs-theme="minimal-dark">
				<!-- ITEM -->
				<div class="search_dropdown_product">
					<a href="product.html" class="sdp_image"><img src="{% static 'img/prod_1.jpg' %}" alt=""></a>
					<div class="sdp_info_box">
						<a href="product.html">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="sdp_artnum">Артикул: 9610</div>
						<div class="sdp_prices">
							<span class="sdp_price">1390 ₽</span>
							<span class="instock">В наличии</span>
						</div>
					</div>
				</div>

				<a href="" class="button search_see_all">Показать все</a>

			</div>
		</form>

		<ul class="topnav_shortmenu">
			<li><a href="">О компании</a></li>
			<li><a href="">Оплата и доставка</a></li>
			<li><a href="">Контакты</a></li>
		</ul>

		<div class="top_mobile_buttons">
			<a class="open_mobile_search" href=""><img src="{% static 'img/i_search.png' %}" /></a>
			<a class="open_mobile_cart" href=""><img src="{% static 'img/i_mini-cart.png' %}" /></a>
		</div>

	</div>
</nav>
</section>


<section class="sec content_sec homeslider_sec pb0">
	<div class="container">

		<ul class="homeslider arrowsNav dotsNav owl-carousel">
			<li class="item" style="background-image: url({% static 'img/slider_1.jpg' %});">
				<div class="slider_infobox">
					<h2>Посуда и аксессуары для кухни Fissman</h2>
					<a href="" class="button">Смотреть каталог</a>
				</div>
			</li>
			<li class="item" style="background-image: url({% static 'img/slider_2.jpg' %});">
				<div class="slider_infobox">
					<h2>Посуда и аксессуары Fissman</h2>
					<a href="" class="button">Смотреть каталог</a>
				</div>
			</li>
		</ul>

	</div>
</section>

<section class="sec content_sec pt0">
	<div class="container">

		<div class="prs_box">
			<div class="pr_item">
				<div class="button blue"><img src="{% static 'img/pr_1.png' %}" /></div>
				<span>Только орининальная продукция</span>
			</div>
			<div class="pr_item">
				<div class="button"><img src="{% static 'img/pr_2.png' %}" /></div>
				<span>Бесплатная доставка при заказе от 2500 ₽</span>
			</div>
			<div class="pr_item">
				<div class="button green"><img src="{% static 'img/pr_3.png' %}" /></div>
				<span>Цены на все товары от производителя</span>
			</div>
			<div class="pr_item">
				<div class="button orange"><img src="{% static 'img/pr_4.png' %}" /></div>
				<span>Полный ассортимент бренда</span>
			</div>
		</div>

		<h3 class="sec_title haveArrows">Успейте купить по шок-цене!</h3>

		<div class="products_carousel_box">
			<ul class="products_carousel arrowsNav owl-carousel">
				{% for prod in sell_out %}
				<li class="item">
					<!-- ITEM -->
					<div class="product_item incatalog">
						<div class="product_item-icons">
							<span class="beidge count">Осталось: 5</span>
						</div>
						<a href="" class="product_item-image">
							{% thumbnail prod.img "189x135" crop="center" as im %}
								<img src="{{ im.url }}" alt="" />
							{% endthumbnail %}
						</a>
						<a href="{% url 'catalog:product-detail' prod.pk %}" class="product_item-title">{{ prod.name }}</a>
						<div class="product_item-artnum">Артикул: {{ prod.artikul }}</div>
						<div class="product_item-prices">
							{% if prod.price_old %}
								<u class="product_item-price_old">{{ prod.price_old }} ₽</u>
							{% endif %}
							<span class="product_item-price">{{ prod.price }} ₽</span>
						</div>
						<div class="product_item-buttons">
							{% comment %}
							<span class="product_added visible">Добавлен в корзину</span>
							{% endcomment %}
							<a href="#" data-product="{{ prod.pk }}" class="button-o gray product_item-buy">В корзину</a>
							<div class="product_item-counter_box">
								<div class="counter_box">
									<button type="button" class="counter_ctrl minus">-</button>
									<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
									<button type="button" class="counter_ctrl plus">+</button>
								</div>
								<button class="button add_to_cart_small"><img src="{% static 'img/i_cart.png' %}" alt="" /></button>
								<a href="#" class="close_add_to_cart">x</a>
							</div>
							<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
						</div>
					</div>
				</li>
				{% endfor %}

			</ul>
		</div>


		<!-- AKCIYA -->
		<div class="discount_block">
			<div class="fleft">
				<div>
					<strong>Получите дополнительную скидку</strong> <br>
					на ваш первый заказ
				</div>
				<a href="" class="button-o pink discount_button">
					<i class="fa fa-tag"></i>
					Хочу скидку
				</a>
			</div>
			<img src="{% static 'img/logo_small.png' %}" class="discount_logo" />
		</div>



		<h3 class="sec_title haveArrows">Лидеры продаж</h3>

		<div class="products_carousel_box">
			<ul class="products_carousel arrowsNav owl-carousel">
				{% for prod in sales_leaders %}
				<li class="item">
					<!-- ITEM -->
					<div class="product_item incatalog">
						<div class="product_item-icons">

							<span class="beidge leader">Лидер продаж</span>
						</div>
						<a href="{{ prod.img.url }}" class="product_item-image">
							{% thumbnail prod.img "189x135" crop="center" as im %}
								<img src="{{ im.url }}" alt="" />
							{% endthumbnail %}
						</a>
						<a href="{% url 'catalog:product-detail' prod.pk %}" class="product_item-title">{{ prod.name }}</a>
						<div class="product_item-artnum">Артикул: {{ prod.artikul }}</div>
						<div class="product_item-prices">
							<span class="product_item-price">{{ prod.price }} ₽</span>
						</div>
						<div class="product_item-buttons">
							{% comment %}
							<span class="product_added">Добавлен в корзину</span>
							{% endcomment %}
							<a href="#" data-product="{{ prod.pk }}" class="button-o gray product_item-buy">В корзину</a>
							<div class="product_item-counter_box">
								<div class="counter_box">
									<button type="button" class="counter_ctrl minus">-</button>
									<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
									<button type="button" class="counter_ctrl plus">+</button>
								</div>
								<button class="button add_to_cart_small"><img src="{% static 'img/i_cart.png' %}" alt="" /></button>
								<a href="#" class="close_add_to_cart">x</a>
							</div>
							<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>

			<div class="buttons_footer">
				<a href="" class="button medium gray">Смотреть все товары со скидкой</a>
			</div>
		</div>

	</div>
</section>



<section class="sec backtop_sec">
	<a href="#" class="backtop">В начало страницы</a>
</section>



{% include 'footer.html' %}

</div>

{% include 'all_modals.html' %}

{% include 'js_files.html' %}

</body>
</html>