{% load static %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/mask.js' %}"></script>
<script src="{% static 'js/pickers/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/pickers/datepair.js' %}"></script>
<script src="{% static 'js/pickers/jquery.datepair.js' %}"></script>
<script src="{% static 'js/pickers/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'js/pickers/moment-with-locales.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>