{% load static %}
{% load thumbnail %}
{% load catalog_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Fissman</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="author" content="Frontend: Artem Lyapunov | WebElement.ru" />

	{% include 'css_files.html' %}

</head>
<body>
<div class="wrapper">


{% include 'header.html' %}



<section class="sec topnav_sec_skelet">
<nav class="sec topnav_sec">
	<div class="container">

		<div class="topnav_buttons">
			<a href="#" class="button blue catalog_open"><span class="icon_menu"></span> Каталог</a>
			<a href="catalog.html" class="button"><span class="icon_shock"></span> Шок-цена!</a>

			<nav class="catalog_menu_box">
				{% catalog_menu %}
			</nav>
		</div>

		<img class="mobile_logo" src="img/logo.png" alt="" />

		<form action="" method="post" class="topnav_search_form">
			<input type="text" placeholder="Например, сковорода вок" class="topnav_search_input" />
			<button type="submit" class="topnav_search_button">Поиск</button>
			<button class="close_search_mobile" type="button">Отменить</button>

			<div class="search_dropdown mCustomScrollbar" data-mcs-theme="minimal-dark">				
				<!-- ITEM -->
				<div class="search_dropdown_product">
					<a href="" class="sdp_image"><img src="img/prod_1.jpg" alt=""></a>
					<div class="sdp_info_box">
						<a href="">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="sdp_artnum">Артикул: 9610</div>
						<div class="sdp_prices">
							<span class="sdp_price">1390 ₽</span>
							<span class="instock">В наличии</span>
						</div>
					</div>
				</div>

				<!-- ITEM -->
				<div class="search_dropdown_product">
					<a href="" class="sdp_image"><img src="img/prod_1.jpg" alt=""></a>
					<div class="sdp_info_box">
						<a href="">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
						<div class="sdp_artnum">Артикул: 9610</div>
						<div class="sdp_prices">
							<span class="sdp_price">1390 ₽</span>
							<span class="instock not">Нет в наличии</span>
						</div>
					</div>
				</div>


				<a href="" class="button search_see_all">Показать все</a>
				
			</div>
		</form>

		<ul class="topnav_shortmenu">
			<li><a href="">О компании</a></li>
			<li><a href="">Оплата и доставка</a></li>
			<li><a href="">Контакты</a></li>
		</ul>

		<div class="top_mobile_buttons">
			<a class="open_mobile_search" href=""><img src="img/i_search.png" /></a>
			<a class="open_mobile_cart" href=""><img src="img/i_mini-cart.png" /></a>
		</div>

	</div>
</nav>
</section>


<section class="sec bread_sec">
	<div class="container">
		
		<ul class="bread">
			<li><a href="/">Главная</a></li>
			<li><a href="{% url 'catalog:category-detail' product.category.slug %}">{{ product.category.name }}</a></li>
			<li>{{ product.name }}</li>
		</ul>

	</div>
</section>

<section class="sec product_sec">
	<div class="container">
		
		<main class="product_box">
			<div class="product_img_data">
				<div class="product_titles">
					<a href="" class="product_like"><i class="fa fa-heart-o"></i></a>
					<!-- <a href="" class="product_like liked"><i class="fa fa-heart"></i></a> -->
					<h1>{{ product.name }}</h1>
					<div class="artikul">Артикул: {{ product.artikul}}</div>
				</div>
				<div class="product_flex_box">
					<div class="product_images_box">
						<a href="{{ product.img.url }}" class="product_main_image fancy" data-fancybox="product">
							{% thumbnail product.img "200x200" crop="center" as im %}
							<img src="{{ im.url }}" alt="" />
							{% endthumbnail %}
						</a>
					</div>

					<div class="product_info_box">

						<article class="product_desc">
							<p>Описание</p>
							<p>Описание</p>
							<p>Описание</p>
							<p>Описание</p>
							<p>Описание</p>
						</article>
						<div class="product_anchors">
							<a href="#specs" class="product_anchor">Харакетристики</a>
							<a href="#reviews" class="product_anchor">5 отзывов</a>
							<a href="#seriya" class="product_anchor">Серия STORM</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="product_details_box">
				<div class="product_badges">
					<span class="instock">В наличии</span>
					<!-- <span class="instock not">Нет в наличии</span> -->
					<div class="beidge shock">Шок цена</div>
				</div>
				<div class="product_price_box">
					<s class="product_price_old">89390 ₽</s>
					<div class="product_price">52990 ₽</div>
				</div>
				<div class="product_promocode_box">
					<span class="note">Используй промокод в корзине, чтобы получить скидку</span>
					<span class="promocode">LETO395</span>
				</div>

				<table class="product_table_prices">
					<tr>
						<td>при заказе от 50 000 ₽</td>
						<td>4576 ₽</td>
					</tr>
					<tr>
						<td>при заказе от 50 000 ₽</td>
						<td>4576 ₽</td>
					</tr>
					<tr>
						<td>при заказе от 50 000 ₽</td>
						<td>4576 ₽</td>
					</tr>
				</table>
				<a href=""><b>Как заказать оптом?</b></a>

				<div class="product_buttons">
					<div class="counter_big_box">
						<button type="button" class="counter_big_ctrl minus">-</button>
						<input type="text" class="counter_big_input" value="1" data-min="1" data-max="99" />
						<button type="button" class="counter_big_ctrl plus">+</button>
					</div>
					<button class="button medium" type="submit">В корзину</button>
				</div>

				<!-- <div class="product_buttons not_available">
					<input type="text" class="input_text centered" placeholder="Введите E-mail" />
					<button class="button medium" type="submit">Уведомить о поступлении</button>
				</div> -->
			</div>


		</main>

	</div>
</section>


<section class="sec content_sec" id="specs">
	<div class="container">

		<div class="sidebar_block important mobile1024">
			<div class="sidebar_inner">
				<div class="free_delivery_titles">
					<div class="button"><img src="{% static 'img/i_truck.png' %}" alt=""></div>
					<strong>Бесплатная доставка при заказе от 2500 ₽</strong>
				</div>
				<div class="podpis pad0">
					Текст про бесплатную доставку. Мы исследовали цены на этот товар в 7 интернет-магазинах и нашли для вас наиболее интересную.
				</div>
			</div>
		</div>
		
		<h2 class="h1">Характеристики</h2>

		<div class="flex_1300">
		<main class="maincol product_specs_box">
			<table class="zebra no_border">
				<tbody>
					<tr>
						<td>Материал:</td>
						<td><b>Алюминий</b></td>
					</tr>
					<tr>
						<td>Диаметр:</td>
						<td><b>24</b></td>
					</tr>
					<tr>
						<td>Антипригарное покрытие:</td>
						<td><b>BioEcoCeramica</b></td>
					</tr>
					<tr>
						<td>Тип плиты:</td>
						<td><b>Газовая, электрическая, стеклокерамическая</b></td>
					</tr>
					<tr>
						<td>Использование в духовке:</td>
						<td><b>Нет</b></td>
					</tr>
					<tr>
						<td>Материал ручки:</td>
						<td><b>Бакелит</b></td>
					</tr>
					<tr>
						<td>Размер упаковки:</td>
						<td><b>41х24х6</b></td>
					</tr>
					<tr>
						<td>Размер товара:</td>
						<td><b>40,5х25,4</b></td>
					</tr>
				</tbody>
			</table>

			<section class="reviews_box" id="reviews">
				<div class="reviews_titles_row">
					<h2 class="h1">Отзывы <span class="reviews_count">5</span></h2>
					<a href="#write_review_modal" class="button blue medium open_modal">Написать отзыв</a>
				</div>
				<div class="reviews_list">

					<!-- ITEM -->
					<article class="review_item">
						<div class="review_details">
							<div class="review_author">
								<span class="author_first_letter">М</span>
								<span><strong>Мария,</strong> Москва</span>
							</div>
							<span class="review_date">24 июля 2019</span>
						</div>
						<div class="review_desc">
							<p><strong>Достоинства:</strong><br>
							Удобная ручка, замечательно выглядит. Куплена в подарок, поэтому о функциональности сказать ничего не могу.</p>
							<p><strong>Недостатки:</strong><br>
							Не нашла.</p>
						</div>
						<div class="review_photos">
							<a href="{% static 'img/rev_1.jpg' %}" data-fancybox="rev-1" class="review_photo"><img src="{% static 'img/rev_1.jpg' %}" alt=""></a>
							<a href="{% static 'img/rev_2.jpg' %}" data-fancybox="rev-1" class="review_photo"><img src="{% static 'img/rev_2.jpg' %}" alt=""></a>
							<a href="{% static 'img/rev_1.jpg' %}" data-fancybox="rev-1" class="review_photo"><img src="{% static 'img/rev_1.jpg' %}" alt=""></a>
							<a href="{% static 'img/rev_2.jpg' %}" data-fancybox="rev-1" class="review_photo"><img src="{% static 'img/rev_2.jpg' %}" alt=""></a>
						</div>
					</article>

					<!-- ITEM -->
					<article class="review_item">
						<div class="review_details">
							<div class="review_author">
								<span class="author_first_letter">М</span>
								<span><strong>Мария,</strong> Москва</span>
							</div>
							<span class="review_date">24 июля 2019</span>
						</div>
						<div class="review_desc">
							<p><strong>Достоинства:</strong><br>
							Удобная ручка, замечательно выглядит. Куплена в подарок, поэтому о функциональности сказать ничего не могу.</p>
							<p><strong>Недостатки:</strong><br>
							Не нашла.</p>
						</div>
						<div class="review_photos">
							<a href="{% static 'img/rev_1.jpg" data-fancybox="rev-2" class="review_photo"><img src="{% static 'img/rev_1.jpg" alt=""></a>
							<a href="{% static 'img/rev_2.jpg" data-fancybox="rev-2" class="review_photo"><img src="{% static 'img/rev_2.jpg" alt=""></a>
							<a href="{% static 'img/rev_1.jpg" data-fancybox="rev-2" class="review_photo"><img src="{% static 'img/rev_1.jpg" alt=""></a>
							<a href="{% static 'img/rev_2.jpg" data-fancybox="rev-2" class="review_photo"><img src="{% static 'img/rev_2.jpg" alt=""></a>
						</div>
					</article>
					
				</div>
			</section>

			<a href="" class="button gray medium w100 show_reviews">Смотреть ещё отзывы</a>
		</main>


		<aside class="sidebar">

			<!-- BLOCK -->
			<div class="sidebar_block important">
				<div class="sidebar_inner">
					<div class="free_delivery_titles">
						<div class="button"><img src="{% static 'img/i_truck.png' %}" alt=""></div>
						<strong>Бесплатная доставка при заказе от 2500 ₽</strong>
					</div>
					<div class="podpis pad0">
						Текст про бесплатную доставку. Мы исследовали цены на этот товар в 7 интернет-магазинах и нашли для вас наиболее интересную.
					</div>
				</div>
			</div>

			<!-- BLOCK -->
			<img src="{% static 'img/sidebar_banner.jpg' %}" alt="" class="sidebar_block" />

			<!-- BLOCK -->
			<div class="sidebar_block carousel">
				<ul class="single_prod_slider arrowsNav owl-carousel">

					<li class="item">
						<div class="product_item incatalog">
							<div class="product_item-icons">
								<span class="hurry_text">Успей купить!</span>
								<span class="beidge shock">Шок-цена!</span>
							</div>
							<a href="" class="product_item-image">
								<img src="{% static 'img/prod_1.jpg' %}" alt="" />
							</a>
							<a href="" class="product_item-title">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
							<div class="product_item-artnum">Артикул: 9610</div>
							<div class="product_item-prices">
								<u class="product_item-price_old">41000 ₽</u>
								<span class="product_item-price">40990 ₽</span>
							</div>
							<div class="product_item-buttons">
								<a href="#" class="button-o gray product_item-buy">В корзину</a>
								<div class="product_item-counter_box">
									<div class="counter_box">
										<button type="button" class="counter_ctrl minus">-</button>
										<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
										<button type="button" class="counter_ctrl plus">+</button>
									</div>
									<button class="button add_to_cart_small"><img src="{% static 'img/i_cart.png' %}" alt="" /></button>
									<a href="#" class="close_add_to_cart">x</a>
								</div>
								<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
							</div>
						</div>
					</li>

					<li class="item">
						<div class="product_item incatalog">
							<div class="product_item-icons">
								<span class="hurry_text">Успей купить!</span>
								<span class="beidge shock">Шок-цена!</span>
							</div>
							<a href="" class="product_item-image">
								<img src="{% static 'img/prod_1.jpg' %}" alt="" />
							</a>
							<a href="" class="product_item-title">Сковорода для жарки ALLENDE 24х5,5см (алюминий)</a>
							<div class="product_item-artnum">Артикул: 9610</div>
							<div class="product_item-prices">
								<u class="product_item-price_old">41000 ₽</u>
								<span class="product_item-price">40990 ₽</span>
							</div>
							<div class="product_item-buttons">
								<a href="#" class="button-o gray product_item-buy">В корзину</a>
								<div class="product_item-counter_box">
									<div class="counter_box">
										<button type="button" class="counter_ctrl minus">-</button>
										<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
										<button type="button" class="counter_ctrl plus">+</button>
									</div>
									<button class="button add_to_cart_small"><img src="{% static 'img/i_cart.png' %}" alt="" /></button>
									<a href="#" class="close_add_to_cart">x</a>
								</div>
								<a href="" class="product_item-like liked"><i class="fa fa-heart"></i></a>
							</div>
						</div>
					</li>
					
				</ul>
			</div>

		</aside>
		</div>

	</div>
</section>


<section class="sec content_sec white_bg" id="seriya">
	<div class="container">
		
		<h2 class="sec_title">Другие товары из этой же серии</h2>

		<div class="catalog_box items-5">

			<!-- ITEM -->
			<div class="product_item incatalog">
				<div class="product_item-icons">
					<span class="beidge count">Осталось: 5</span>
				</div>
				<a href="" class="product_item-image">
					<img src="{% static 'img/prod_1.jpg' %}" alt="" />
				</a>
				<a href="" class="product_item-title">
					Сковорода для жарки ALLENDE 24х5,5см (алюминий)
					<span class="product_item-instock">В наличии</span>
				</a>
				<div class="product_item-artnum">Артикул: 9610</div>
				<div class="product_item-prices">
					<span class="product_item-price">990 ₽</span>
				</div>
				<div class="product_item-buttons">
					<a href="#" class="button-o gray product_item-buy">В корзину</a>
					<div class="product_item-counter_box">
						<div class="counter_box">
							<button type="button" class="counter_ctrl minus">-</button>
							<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
							<button type="button" class="counter_ctrl plus">+</button>
						</div>
						<button class="button add_to_cart_small"><img src="{% static 'img/i_cart.png' %}" alt="" /></button>
						<a href="#" class="close_add_to_cart">x</a>
					</div>
					<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
				</div>
			</div>

			
		</div>

	</div>
</section>



<section class="sec content_sec white_bg">
	<div class="container">
		
		<h2 class="sec_title">Похожие товары</h2>

		<div class="catalog_box items-5">

			<!-- ITEM -->
			<div class="product_item incatalog">
				<div class="product_item-icons">
					<span class="beidge count">Осталось: 5</span>
				</div>
				<a href="" class="product_item-image">
					<img src="img/prod_1.jpg" alt="" />
				</a>
				<a href="" class="product_item-title">
					Сковорода для жарки ALLENDE 24х5,5см (алюминий)
					<span class="product_item-instock">В наличии</span>
				</a>
				<div class="product_item-artnum">Артикул: 9610</div>
				<div class="product_item-prices">
					<span class="product_item-price">990 ₽</span>
				</div>
				<div class="product_item-buttons">
					<a href="#" class="button-o gray product_item-buy">В корзину</a>
					<div class="product_item-counter_box">
						<div class="counter_box">
							<button type="button" class="counter_ctrl minus">-</button>
							<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
							<button type="button" class="counter_ctrl plus">+</button>
						</div>
						<button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
						<a href="#" class="close_add_to_cart">x</a>
					</div>
					<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
				</div>
			</div>

			
		</div>

	</div>
</section>



<section class="sec content_sec">
	<div class="container">

		<h2 class="sec_title">Недавно вы смотрели</h2>
		
		<div class="products_carousel_box">
			<ul class="products_carousel arrowsNav owl-carousel">
				<li class="item">
					<!-- ITEM -->
					<div class="product_item incatalog">
						<div class="product_item-icons">
							
							<span class="beidge count">Осталось: 978</span>
						</div>
						<a href="" class="product_item-image">
							<img src="img/prod_3.jpg" alt="" />
						</a>
						<a href="" class="product_item-title">Вилка MONTE столовая 21см (нерж.сталь)</a>
						<div class="product_item-artnum">Артикул: 9610</div>
						<div class="product_item-prices">
							<u class="product_item-price_old">160 ₽</u>
							<span class="product_item-price">112 ₽</span>
						</div>
						<div class="product_item-buttons">
							<a href="#" class="button-o gray product_item-buy">В корзину</a>
							<div class="product_item-counter_box">
								<div class="counter_box">
									<button type="button" class="counter_ctrl minus">-</button>
									<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
									<button type="button" class="counter_ctrl plus">+</button>
								</div>
								<button class="button add_to_cart_small"><img src="img/i_cart.png" alt="" /></button>
								<a href="#" class="close_add_to_cart">x</a>
							</div>
							<a href="" class="product_item-like"><i class="fa fa-heart-o"></i></a>
						</div>
					</div>
				</li>

			</ul>
		</div>

	</div>
</section>




<section class="sec backtop_sec">
	<a href="#" class="backtop">В начало страницы</a>
</section>


{% include 'footer.html' %}

</div>


<!-- MODAL -->
{% include 'all_modals.html' %}

{% include 'js_files.html' %}

</body>
</html>