{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load catalog_tags %}
{% load humanize %}
{% block content %}

<section class="sec content_sec">
	<div class="container">

		<ul class="bread">
			<li><a href="/">Главная</a></li>
			<li>{{ current_category.name }}</li>
		</ul>

		<h1>Ваш кабинет</h1>

		<aside class="sidebar small sidebar_filters">
			<!-- BLOCK -->
			<div class="sidebar_block white_bg no_border">

				<h3 class="mobile1024">Фильтры</h3>

				<a href="#" class="close_modal">x</a>

				<div class="sidebar_inner border_bottom filters_clear_box">
					<button type="button" class="button medium gray clear_filters">Очистить фильтры</button>
				</div>
				<form id="filter-form">
				<input type="hidden" name="category_id" value="{{ current_category.pk }}">
				<ul class="sidebar_menu">
					<li><a href="#">Каталог</a>

						<ul class="sidebar_submenu">
							{% for category in categories %}
							{% if current_category.pk == category.pk %}
								<li class="current"><a href="">{{ category.name }}</a></li>
							{% else %}
								<li><a href="{% url 'catalog:category-detail' category.slug %}">{{ category.name }}</a></li>
							{% endif %}
							{% endfor %}
						</ul>
					</li>

					<li><a href="#">Цена</a>
						<div class="sidebar_subblock">
							<div class="range_inputs">
								<div class="ip_cell">
									<label class="range_label">от</label>
									<input type="text" name="price-min" class="range_input from" value="{{ min_price_slider|floatformat:0 }}" data-value="{{ min_price_slider|floatformat:0 }}" />
								</div>
								<div class="ip_cell">
									<label class="range_label">до</label>
									<input type="text" name="price-max" class="range_input to" value="{{ max_price_slider|floatformat:0 }}" data-value="{{ max_price_slider|floatformat:0 }}" />
								</div>
							</div>
							<div class="range_slider_box" data-min="{{ min_price_slider|floatformat:0 }}" data-max="{{ max_price_slider|floatformat:0 }}" data-step="100"></div>
						</div>
					</li>

					{% for attr in current_category.attributes.all %}

					<li><a href="#">{{ attr }}</a>
						<div class="sidebar_subblock">
						 {% if attr.is_option %}
							{% with yes_options=filter_result|get_item_int:attr.id %}
							<div class="sidebar_filters_box mCustomScrollbar">
								{% for opt in attr.option_group.options.all %}
								{% if opt.id in yes_options %}

								<span class="ip_checkbox" data-name="">
									<input type="checkbox" {% if opt.id in checked_options|get_item:attr.code %}  checked {% endif %}class="ch filter_checkbox" value="{{ opt.id }}" data-name="{{ attr.code }}" name="{{ attr.code }}" />
									<label>{{ opt.option }}</label>
								</span>
								{% endif %}
								{% endfor %}

								<a href="#" class="show_ch_filters">Показать ещё <span>0</span></a>
							</div>
							{% endwith %}
						 {% endif %}

						</div>
					</li>
					{% endfor %}

				</ul>
				</form>
				<div class="sidebar_inner border_top">
					<button type="button" class="button medium gray clear_filters">Очистить фильтры</button>
					<a href="#" class="button filter_results_tag" style="display: none;">Показать <span id="product-count"></span> товара</a>
				</div>
			</div>
		</aside>


		<main class="maincol wide white_bg maincol_filters">
			<a href="#" class="button-o pink medium mobile_filters_button"><img src="{% static 'img/icon_filter.png' %}" /> Фильтры</a>
			<div class="maincol_filters_box">
				<div class="autoScroll">
					{% comment %}
					<div class="ip_maincol_checkbox">
						<input type="checkbox" class="button_filter" />
						<label>Глубокие сковороды</label>
					</div>
					{% endcomment %}

				</div>
			</div>
			<hr class="minus_padding" />
			<div class="maincol_sorting_box">
				<div class="fleft">
					{% comment %}
					<span>Хотите получить скидку на первый заказ? </span>
					<a href="#discount_modal" class="button-o pink discount_button medium open_modal"><i class="fa fa-tag"></i> Хочу скидку</a>
					{% endcomment %}
				</div>
				<div class="fright">
					<!-- переключалки "туглят" класс catalog_view-row у блока catalog_box -->
					<a class="sort_view_link current" href="#view-cell"><i class="fa fa-th"></i></a>
					<a class="sort_view_link" href="#view-row"><i class="fa fa-th-list"></i></a>
					<select name="" class="input_text small">
						<option value="">Сначала дорогие</option>
						<option value="">Сначала не дорогие</option>
						<option value="">Сначала новые</option>
					</select>
				</div>
			</div>
		</main>

		<main class="maincol wide pad0">
			<div class="catalog_box">

				{% for prod in products %}
				<!-- ITEM -->
				<div class="product_item incatalog">
					<div class="product_item-icons">
					</div>
					<a href="" class="product_item-image">
						{% thumbnail prod.img "189x135"  as im %}
						<img src="{{ im.url }}" alt="" />
						{% endthumbnail %}
					</a>
					<a href="{% url 'catalog:product-detail' prod.slug prod.pk %}" class="product_item-title">
						{{ prod.name }}
						<span class="product_item-instock">В наличии</span>
					</a>
					<div class="product_item-artnum">Артикул: <span>{{ prod.artikul }}</span></div>
					<div class="product_item-prices">
						{% if prod.price_old %}
						<u class="product_item-price_old">{{ prod.price_old }} ₽</u>
						{% endif %}
						<span class="product_item-price">{{ prod.price|floatformat:0|intcomma }} ₽</span>
					</div>
					<div class="product_item-buttons">
						{% comment %}
						<span class="product_added visible">Добавлен в корзину</span>
						{% endcomment %}
						<a href="#" data-product="{{ prod.pk }}" class="button-o gray product_item-buy">В корзину</a>
						<div class="product_item-counter_box">
							<div class="counter_box">
								<button type="button" class="counter_ctrl minus">-</button>
								<input type="text" class="counter_input" value="1" data-min="1" data-max="99" />
								<button type="button" class="counter_ctrl plus">+</button>
							</div>
							<button class="button add_to_cart_small"><img src="{% static 'img/i_cart.png' %}" alt="" /></button>
							<a href="#" class="close_add_to_cart">x</a>
						</div>
						<a href="" class="product_item-like"><i class="fa fa-heart"></i></a>
					</div>
				</div>

				{% endfor %}


			</div>

			<a href="" class="button gray medium catalog_show_more">Показать ещё</a>

			<ul class="paginate">
				<li class="pg_arrow"><a href=""><i class="fa fa-angle-left"></i></a></li>
				{% for i in products.paginator.page_range %}
      				{% if products.number == i %}
						<li class="current"><a href="">{{ i }}</a></li>
      				{% else %}
        				<li><a href="?{% query_transform request page=i %}">{{ i }}</a></li>
      				{% endif %}
    			{% endfor %}
				<li class="pg_arrow"><a href=""><i class="fa fa-angle-right"></i></a></li>
			</ul>

			<div class="catalog_description">
				<h2 class="catalog_desc-title">{{ current_category.name }}</h2>

				{{ current_category.description }}

			</div>
		</main>

	</div>
</section>

{% endblock %}