{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load catalog_tags %}
{% load humanize %}
{% block content %}
<section class="sec bread_sec">
	<div class="container">
		
		<ul class="bread">
			<li><a href="/">Главная</a></li>
			<li><a href="{% url 'catalog:category-detail' product.category.slug %}">{{ product.category.name }}</a></li>
			<li>{{ product.name }}</li>
		</ul>

	</div>
</section>

<section class="sec product_sec">
	<div class="container">
		
		<main class="product_box">
			<div class="product_img_data">
				<div class="product_titles">
					<a href="#" class="product_like product_item-like add_to_wishlist"  data-product="{{ product.pk }}"><i class="fa fa-heart-o"></i></a>
					<!-- <a href="" class="product_like liked"><i class="fa fa-heart"></i></a> -->
					<h1>{{ product.name }}</h1>
					<div class="artikul">Артикул: {{ product.artikul}}</div>
				</div>
				<div class="product_flex_box">
					<div class="product_images_box">
						<a href="{{ product.img.url }}" class="product_main_image fancy" data-fancybox="product">
							{% thumbnail product.img "200x200"  as im %}
							<img src="{{ im.url }}" alt="" />
							{% endthumbnail %}
						</a>
					</div>

					<div class="product_info_box">

						<article class="product_desc">
							<p>Описание</p>

						</article>
						<div class="product_anchors">
							<a href="#specs" class="product_anchor">Харакетристики</a>
							<a href="#reviews" class="product_anchor">{{ product.reviews.count }} отзывов</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="product_details_box">
				<div class="product_badges">
					<span class="instock">В наличии</span>
					<!-- <span class="instock not">Нет в наличии</span> -->
<!--					<div class="beidge shock">Шок цена</div>-->
				</div>
				<div class="product_price_box">
					{% if product.price_old %}
						<s class="product_price_old">{{ product.price_old|floatformat:0|intcomma }} ₽</s>
					{% endif %}
					<div class="product_price">{{ product.price|floatformat:0|intcomma }} ₽</div>
				</div>
				{% comment %}}
				<div class="product_promocode_box">
					<span class="note">Используй промокод в корзине, чтобы получить скидку</span>
					<span class="promocode">LETO395</span>
				</div>
				{% endcomment %}

				<table class="product_table_prices">
				</table>

				<div class="product_buttons">
					<div class="counter_big_box">
						<button type="button" class="counter_big_ctrl minus">-</button>
						<input type="text" class="counter_big_input" value="1" data-min="1" data-max="99" />
						<button type="button" class="counter_big_ctrl plus">+</button>
					</div>
					<a href="#" class="button medium product-buy" data-product="{{product.pk}}">В корзину</a>
					<a href="/basket" class="button medium to-basket" style="display: none;" data-product="{{product.pk}}">Перейти в корзину</a>
				</div>

				<!-- <div class="product_buttons not_available">
					<input type="text" class="input_text centered" placeholder="Введите E-mail" />
					<button class="button medium" type="submit">Уведомить о поступлении</button>
				</div> -->
			</div>


		</main>

	</div>
</section>


<section class="sec content_sec" id="specs">
	<div class="container">

		<div class="sidebar_block important mobile1024">
			<div class="sidebar_inner">
				<div class="free_delivery_titles">
					<div class="button"><img src="{% static 'img/i_truck.png' %}" alt=""></div>
					<strong>Бесплатная доставка при заказе от 2500 ₽</strong>
				</div>
				<div class="podpis pad0">
					Текст про бесплатную доставку. Мы исследовали цены на этот товар в 7 интернет-магазинах и нашли для вас наиболее интересную.
				</div>
			</div>
		</div>
		
		<h2 class="h1">Характеристики</h2>

		<div class="flex_1300">
		<main class="maincol product_specs_box">
			<table class="zebra no_border">
				<tbody>
					{% for pav in product.attribute_values.all %}
					<tr>
						<td>{{ pav.attribute.name}}:</td>
						<td><b>{{ pav.value_option }}</b></td>
					</tr>
					{% endfor %}

				</tbody>
			</table>

			<section class="reviews_box" id="reviews">
				<div class="reviews_titles_row">
					<h2 class="h1">Отзывы <span class="reviews_count">{{ product.get_reviews_approved.count }}</span></h2>
					<a href="#write_review_modal" class="button blue medium open_modal">Написать отзыв</a>
				</div>
				<div class="reviews_list">
					{% for review in product.get_reviews_approved %}
					<!-- ITEM -->
					<article class="review_item">
						<div class="review_details">
							<div class="review_author">
								<span class="author_first_letter">{{ review.first_name|make_list|first }}</span>
								<span><strong>{{ review.first_name }}</strong></span>
							</div>
							<span class="review_date">{{ review.created_at}}</span>
						</div>
						<div class="review_desc">
							<p><strong>Достоинства:</strong><br>
							{{ review.advantages}}</p>
							<p><strong>Недостатки:</strong><br>
							{{ review.disadvantages }}.</p>
						</div>

					</article>
					{% endfor %}

				</div>
			</section>
			{% if product.reviews.count > 10 %}
			<a href="" class="button gray medium w100 show_reviews">Смотреть ещё отзывы</a>
			{% endif %}
		</main>


		<aside class="sidebar">

			<!-- BLOCK -->
			<div class="sidebar_block important">
				<div class="sidebar_inner">
					<div class="free_delivery_titles">
						<div class="button"><img src="{% static 'img/i_truck.png' %}" alt=""></div>
						<strong>Бесплатная доставка при заказе от 2500 ₽</strong>
					</div>
					<div class="podpis pad0">
						Текст про бесплатную доставку. Мы исследовали цены на этот товар в 7 интернет-магазинах и нашли для вас наиболее интересную.
					</div>
				</div>
			</div>

			<!-- BLOCK -->
			<img src="{% static 'img/sidebar_banner.jpg' %}" alt="" class="sidebar_block" />

			<!-- BLOCK -->
			<div class="sidebar_block carousel">
				<ul class="single_prod_slider arrowsNav owl-carousel">

					<li class="item"></li>
					
				</ul>
			</div>

		</aside>
		</div>

	</div>
</section>




{% if product.primary_recommendations.count > 0 %}
<section class="sec content_sec white_bg">
	<div class="container">
		<h2 class="sec_title">Похожие товары</h2>
		<div class="catalog_box items-5">
			{% for prod in product.primary_recommendations.all %}
				{% include 'catalog/product_card.html' with prod=prod.recommendation %}
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}



<section class="sec content_sec">
	<div class="container">

		<h2 class="sec_title">Недавно вы смотрели</h2>
		
		<div class="products_carousel_box">
			{% recently_viewed_products current_product=product %}
		</div>

	</div>
</section>


<div class="modal" id="write_review_modal">
	<div class="modal_content">
		<h2 class="modal_title centered">
			Отзыв о товаре
			<span class="modal_subtitle">{{ product.name }}</span>
		</h2>
		<a href="#" class="modal_close">x</a>
		<div>
			<form action="/catalog/product/{{ product.pk }}/reviews/create/" method="post" id="write_review_form_modal">
			<p>Благодарим за выбор нашего товара. Пожалуйста, оставьте  честное мнение о товаре, чтобы другим покупателям было проще сделать выбор.</p>
			<div class="ip_cell">
				<input type="text" name="first_name" class="input_text" placeholder="Имя *" />
			</div>
			<div class="ip_cell">
				<input type="email" name="email" class="input_text" placeholder="E-mail (не будет опубликован) *" />
			</div>
			<div class="ip_cell">
				<textarea class="input_text" name="advantages" placeholder="Опишите, что вам особенно понравилось."></textarea>
			</div>
			<div class="ip_cell">
				<textarea class="input_text" name="disadvantages" placeholder="Напишите, есть ли какие-то минусы у товара."></textarea>
			</div>
			<div class="modal_buttons">
				<button class="button medium send_button" type="submit">Отправить отзыв</button>
			</div>
			<div class="ip_cell agree_box agree_photos">
				<input type="checkbox" class="ch agree_ch" checked />
				<label>Я согласен с правилами публикации пользовательского контента.</label>
			</div>
		</form>
		</div>
	</div>
	<div class="modal_overlay"></div>
</div>

{% endblock %}