{% load static %}
{% load humanize %}
{% load thumbnail %}
<div class="product_item incatalog">
    <div class="product_item-icons">
    </div>
    <a href="" class="product_item-image">
        {% thumbnail prod.img "189x135" as im %}
        <img src="{{ im.url }}" alt="" />
        {% endthumbnail %}
    </a>
    <a href="{% url 'catalog:product-detail' prod.slug prod.pk %}" class="product_item-title">
        {{ prod.name }}
        <span class="product_item-instock">В наличии</span>
    </a>
    <div class="product_item-artnum">Артикул: <span>{{ prod.artikul }}</span></div>
    <div class="product_item-prices">
        {% if prod.price_old %}
        <u class="product_item-price_old">{{ prod.price_old|floatformat:0|intcomma }} ₽</u>
        {% endif %}
        <span class="product_item-price">{{ prod.price|floatformat:0|intcomma }} ₽</span>
    </div>
        <div class="product_item-buttons">
            <span class="product_added">Добавлен в корзину</span>
            <a href="/basket/" data-product="{{ prod.pk }}" class="button-o gray product_item-buy">В корзину</a>
            <div class="product_item-counter_box">
                <div class="counter_box">
                    <button type="button" class="counter_ctrl minus">-</button>
                    <input type="text" data-product="{{ prod.pk }}" class="counter_input" value="1" data-min="1" data-max="99" />
                    <button type="button" class="counter_ctrl plus">+</button>
                </div>
                <a href="/basket/" data-product="{{ prod.pk }}">
                <button class="button add_to_cart_small">
                    <img src="{% static 'img/i_cart.png' %}" alt="" />
                </button>
                </a>
                <a href="#" class="close_add_to_cart" data-product="{{ prod.pk }}">x</a>
            </div>
            <a href="" class="product_item-like"><i class="fa fa-heart"></i></a>
        </div>
</div>