{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load catalog_tags %}
{% load humanize %}
{% block content %}
<section class="sec content_sec">
	<div class="container">

		<ul class="bread">
			<li><a href="">Главная</a></li>
			<li>Поиск</li>
		</ul>

		<h1>Поиск</h1>

		<main class="maincol wide white_bg">
			<div class="search_result_msg">
				По вашему запросу <span class="tpink">“{{ search_term }}”</span> найдено {{ search_count }} товаров:
			</div>
		</main>

		<main class="maincol wide pad0">
			<div class="catalog_box">
               {% for prod in products %}
                {% include 'catalog/product_card.html' %}
                {% endfor %}

				<ul class="paginate">
				<li class="pg_arrow"><a href=""><i class="fa fa-angle-left"></i></a></li>
				{% for i in products.paginator.page_range %}
      				{% if products.number == i %}
						<li class="current"><a href="">{{ i }}</a></li>
      				{% else %}
        				<li><a href="?{% query_transform request page=i %}">{{ i }}</a></li>
      				{% endif %}
    			{% endfor %}
				<li class="pg_arrow"><a href=""><i class="fa fa-angle-right"></i></a></li>
			</ul>

			</div>

		</main>
	</div>
</section>
{% endblock %}